<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420635129081-fgu6r3oiot9ml0oqmhu550tkn7mesj4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420635129081-fgu6r3oiot9ml0oqmhu550tkn7mesj4d</string>
	<key>API_KEY</key>
	<string>AIzaSyArjzSJPdPfWWhdbCxsXtXgz-AuWZBmGJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>420635129081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fynder</string>
	<key>PROJECT_ID</key>
	<string>fynderfirst</string>
	<key>STORAGE_BUCKET</key>
	<string>fynderfirst.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420635129081:ios:626e86063b1628577ade28</string>
</dict>
</plist>