<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429895362505-3rimd84l8d1okd639fj0d2h7rpt2ge4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429895362505-3rimd84l8d1okd639fj0d2h7rpt2ge4v</string>
	<key>API_KEY</key>
	<string>AIzaSyDe2jy1XPpjbppHSMxGALeFm6rcrG4v-gs</string>
	<key>GCM_SENDER_ID</key>
	<string>429895362505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fynder</string>
	<key>PROJECT_ID</key>
	<string>fynder-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>fynder-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429895362505:ios:1655d5b1bc0633815b2a18</string>
	<key>DATABASE_URL</key>
	<string>https://fynder-demo-default-rtdb.firebaseio.com</string>
</dict>
</plist>